.landing_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dfb7b7;
}

.landing_title {
  font-size: 2rem;
  margin-top: 10%;
}

#landing_button_wrap {
  position: absolute;
  top: 40%;
  width: 100px;
  height: 5%;
  padding: 3px;
  padding-right: 3px;
}

#landing_button {
  border: none;
  background-color: #ea4b4b;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  box-shadow: 7px 7px 0px 0px #f265ebbf;
}