.landing_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dfb7b7;
}

.landing_title {
  font-size: 15px;
  display: flex;
  margin-top: 10%;
  cursor: default;
}

#flap {
  margin-left: 7px;
}

#landing_button_wrap {
  position: absolute;
  top: 40%;
  width: 180px;
  height: 40px;
  padding: 3px;
  padding-right: 3px;
  display: flex;
  justify-content: center;
}

#landing_button {
  border: none;
  background-color: #ea4b4b;
  width: 45px;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  box-shadow: 0px 6px 0px 0px #f265ebbf;
  outline: none;
}

#true_button {
  border: none;
  background-color: #f47114;
  width: 45px;
  border-radius: 50%;
  font-size: 1.3rem;
  cursor: pointer;
  box-shadow: 0px 6px 0px 0px #f89e0dbf;
  outline: none;
  height: 40px;
  margin-left: 7px;
}

#true_button:active {
  box-shadow: none;
  margin-top: 6px;
}

#winning_phrase {
  background: linear-gradient(90deg, #f47114 0%, #ea4b4b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  cursor: default;
}

.modal {
  margin-left: 20px;
}
